#overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 350px;
  height: 101vh;
  background: rgba(0, 0, 0, .9);
  overflow: scroll;

  &.is-open {
    display: block;
  }

  #close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    width: 50px;
    height: 44px;
    cursor: pointer;

    span {
      position: absolute;
      top: 22px;
      right: 15px;
      width: 20px;
      height: 1px;
      background-color: #fff;
      -webkit-font-smoothing: antialiased;
      -webkit-transform: translate3d(-1px, 0, 0) rotate(-45deg);
      transform: translate3d(-1px, 0, 0) rotate(-45deg);
    }
  }
}

