.single {
  .lwptoc {
    margin: 0 auto 20px;

    .lwptoc_i {
      .lwptoc_header {
        color: $color-tertiary;
      }

      a {
        color: $color-tertiary;

        &:visited {
          color: $color-tertiary;
        }

        &:hover {
          color: $color-tertiary;
          background-color: transparent;
        }
      }
    }
  }
}