.status {
  #global-wrapper {
    background-color: #141414;
  }

  #global-footer {
    background-color: #fff;
    border: none;
  }
}

#post-information {
  margin-top: 80px;
  padding: 60px 50px;

  @media #{$small} {
    padding: 30px 20px;
  }
}

