section {
  position: relative;
  max-width: 100%;
  margin: 50px auto 105px;
  padding: 0 20px;

  @media #{$small} {
    margin-bottom: 52px;
    padding: 0 0px;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.section {
  &-title {
    width: 500px;
    margin: 0 auto 50px;
    padding: 0 0 10px;
    border-bottom: 1px solid #d0d0d4;

    @include font-size(24,24);

    font-family: $font-family-raleway;
    font-weight: 500;
    color: #333;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.2em;

    @media #{$small} {
      width: 100%;
      padding: 0;
      border: none;
    }
  }
}
