.story {
  &-past {
    article {
      &.other {
        min-height: 610px;

        .story-figure {
          background-position: center center;
          background-size: 100%;

          &.right {
            background-position: center right;
          }

          &.left {
            background-position: center left;
          }

          &.outline {
            border: 1px solid $color-border;

            @media #{$small} {
              margin-top: 10px;
              border-top: 1px solid $color-border;
              border-bottom: 1px solid $color-border;
            }
          }
        }
      }
    }
  }
}