.story-archives {
  width: 980px;

  @media #{$small} {
    width: 100%;
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;

    @media #{$small} {
      display: block;
    }
  }

  &-block {
    width: calc(100% / 2 - 40px);
    margin: 0 80px 50px 0;

    &:nth-of-type(even) {
      margin-right: 0;
    }

    @media #{$small} {
      margin-right: 0;
      padding: 0 20px;
      width: 100%;
    }
  }

  &-category {
    margin: 0 0 15px;

    @include font-size(24,24);

    font-family: $font-family-raleway;

    span {
      @include font-size(12,12);

      vertical-align: middle;
    }
  }

  &-list {
    margin: 0 0 8px;

    @media #{$small} {
      margin-bottom: 13px;
    }

    a {
      @include font-size(15,24);

      span {
        @include font-size(12,12);

        vertical-align: middle;

        &:before {
          content: '-';
          margin: 0 10px;
        }
      }
    }
  }
}