#tab {
  display: flex;
  justify-content: space-between;

  .tab {
    width: 100%;
    padding: 15px 0;
    border-top: 1px solid #2E3336;
    border-right: 1px solid #2E3336;

    &:nth-of-type(1) {
      border-left: 1px solid #2E3336;
    }

    @include font-size(12,12);

    text-align: center;
    text-transform: uppercase;
    transition: all 500ms 0s ease;
    cursor: pointer;

    &:hover {
      color: #747B7C;
      background-color: #1A1F22;
    }

    &.is {
      &-select {
        color: #747B7C;
        background-color: #1A1F22;
      }
    }
  }
}