@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blur-text {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blur-text {
  0% {filter: blur(0px);}
  100% {filter: blur(5px);}
}

@keyframes anime {
  0% {
  }
  50% {
    transform: scale(1.5) ;
  }
  100% {
    transform: scale(1) ;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  50% {
    //transform: scale(1.5) ;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
